@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    background-image: url("https://media.istockphoto.com/id/1322201350/photo/digitally-enhanced-shot-of-a-graph-showing-the-ups-and-downs-shares-on-the-stock-market.jpg?s=612x612&w=0&k=20&c=XRsOnrdHQIoqaolR00ganJACUpCxD4JCELt3N3Mm3tk=");
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 2px solid black;
    padding-left: 25%;
    padding-top: 12.5%;
}
.box{
    /* margin-left:50vw;
    margin-top: 50vh; */
    height: 60vh;
    width: 60vw;
    position: relative;


    text-align: center;
    box-shadow: 3px 3px 3px rgba(107, 104, 104, 0.425);
    backdrop-filter: blur(5px);
    border-radius: 10px;
 
}
/* #box1{
    height: 10vh;
    width: 40vw;
}
#box2{
    margin-top: 10vh;
    height: 10vh;
    width: 40vw;
} */
.inside-box{
    /* display: flex; */
    padding: 10px;
    height: 30%;
    width: 80%;
    margin: auto;
    /* margin-top: 10px; */
    background-color: white;
    border-radius: 10px;
    
}
.upper{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    
}
.lower{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: rgb(42, 8, 236);
    border: none;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    height: 8vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .buttons{
    position: absolute;
    left: 40%;
    top: 0%;
    background-color: blue;  
} */
.buttons-style{
    height: 8vh;
    width: 20%;
    background-color: blue; 
    border-radius: 10px;
    
}
.contain{
    
    position: absolute;
    top: 10%;
    
    
    height: 60vh;
    width: 60vw;
}